<hello class="title" name="{{ name }}"></hello>
<hr />
<div *ngIf="!auth">
  <div>User</div>
  <div><input type="text" [(ngModel)]="login" /></div>

  <div>Senha</div>
  <div><input type="password" [(ngModel)]="password" /></div>
  <hr />

  <div><input type="button" value="Entrar" (click)="postLogin()" /></div>
</div>

<div *ngIf="auth">
  Bem vindo, {{ auth.username }} | <a [routerLink]="['/']">Tarefas</a> |
  <a [routerLink]="['/done']">Tarefas feitas</a> |
  <input type="button" value="Sair" (click)="postLogout()" />
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
