div {
  text-align: center;
}

h1,
h2,
li {
  font-family: sans-serif;
}

h1 {
  color: #642397;
  font-weight: 600;
}

ul {
  list-style: none;
}

button {
  margin-top: 1em;
  margin-left: 1em;
  background-color: #642397;
  color: white;
  padding: 1em;
  border-radius: 20em;
  border: 0;
  cursor: pointer;
}

button:hover {
  background-color: #7e40ae;
}

input {
  padding: 0.5em;
  box-shadow: none;
}

input:focus {
  color: #642397;
  outline: none;
}
